@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d1b2a;
  --secondary: #1b263b;
  --btn-primary: #373f51;
  --btn-secondary: #e0e6f3;
  --btn-ternary: #f5f7f9;
  --dark-gray: #333;
  --white: #ffffff;
  --black: #000;
  --green: #34d399;
  --yellow: #ffc042;
  --red: #e3342f;
  --blue: #4299e1;
  --orange: #f9c23c;
  --purple: #c53185;
  --pink: #f5317f;
  --gray: #8792a4;
  --brown: #5c6370;
}
